<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{lastname}}, {{firstname}} {{middlename}}</a></h3>
                <h4>{{position}}</h4>
            </div>
        </div>
        <div class="list animate-fade-slide-in-right">
            <div class="item item-divider">
                Basic Information
            </div>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-person"></i>
                   Username: {{username}}
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-male"></i>
                   Gender: {{gender}}
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                   Email: {{email}}
            </a>
        </div>
    </ion-content>
</ion-view>
