<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Change Password</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
            <form role="form" name="changeForm" ng-submit="changePassword(changeForm)">
                <input type="hidden"  ng-model="formData.user_id" />
                <input type="hidden"  ng-model="formData.user_username" />
                <input type="hidden"  ng-model="formData.user_position_link" />
                <input type="hidden"  ng-model="formData.user_lastname" />
                <input type="hidden"  ng-model="formData.user_firstname" />
                <input type="hidden"  ng-model="formData.user_middlename" />
                <input type="hidden"  ng-model="formData.user_gender" />
                <input type="hidden"  ng-model="formData.user_email" />
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" id="xpassword" name="xpassword" placeholder="Password" ng-model="formData.user_password" required/>
                </div>
                <span class="asterisk" ng-show="changeForm.xpassword.$error.required && changeForm.xpassword.$dirty">
                Please fill in the required field.</span>
                
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" id="cpassword" name="cpassword" match="formData.user_password" placeholder="Confirm Password" ng-model="formData.user_cpassword" required/>
                </div>
                <span class="asterisk" ng-show="changeForm.cpassword.$error.required && changeForm.cpassword.$dirty">
                Please fill in the required field.</span>
                <div class="asterisk" ng-show="changeForm.cpassword.$error.match">Passwords do not match!</div>


                <div>
                    <button type="submit" ng-disabled="changeForm.$invalid" class="button button-full button-assertive">SAVE</button>
                </div>
                </form>
    </ion-content>
  </ion-modal-view>