<ion-view view-title="Mechanical Inspection">
<ion-content class="padding">
  <!-- Mechanical Form -->
    <form role="form" name="mechanicalForm" ng-submit="addMechanicalReport(mechanicalForm)">

     <div class="list" ng-repeat="x in mechanical">
        <div class="item item-divider"><strong>BUILDING PERMIT NUMBER</strong></div>
          <span class="item">{{x.building_permit_number}}</span>
        <div class="item item-divider"><strong>Customer Name</strong></div> 
          <span class="item"> {{x.customer_lastname}}, {{x.customer_firstname}} {{x.customer_middlename}} </span>
            <input type="hidden" ng-model="formData.mechanical_id">
            <input type="hidden" ng-model="formData.mechanical_building_permit_number_link" readonly>
        
        <div class="item item-divider"><strong>Inspection Type</strong></div>
            <div class="item">
                <input type="text" name="inspection_type" ng-model="formData.inspection_type" required/>
            </div>

          <div class="item item-divider"><strong>Scope of Work</strong></div>
            <div class="item">
                <input type="text" name="scope_of_work" ng-model="formData.scope_of_work" required/>
            </div>
            <!-- show an error if field is empty -->
            <span ng-show="mechanicalForm.scope_of_work.$error.required && mechanicalForm.scope_of_work.$dirty" class="valid-add">
            Please fill in the required field.</span>

          <div class="item item-divider"><strong>Installation Operation Description</strong> <span class="asterisk">*</span></div>
            <div class="item" ng-repeat="role in mechanical_installation_operation_description">
                <ion-checkbox type="checkbox" checklist-model="formData.mechanical_installation_operation_description" checklist-value="role">
                  {{ role }}
               </ion-checkbox>
            </div>
          
          <div class="item item-divider"><strong>Others <span class="asterisk">*</span></strong></div>
            <div class="item">
              <span>(Please write "none" if not applicable)</span>
              <input type="text" name="others" ng-model="formData.others" required/>
            </div>
            <!-- show an error if field is empty -->
            <span ng-show="mechanicalForm.others.$error.required" class="asterisk">
            Please fill in the required field.</span>

          <div class="item item-divider"><strong>Payment</strong> <span class="asterisk">*</span></div>
            <div class="item">
              <span>&#8369;</span>
                <input type="number" step="any" name="payment" ng-model="formData.payment" required/>
            </div>
            <!-- show an error if field is empty -->
            <span ng-show="mechanicalForm.payment.$error.required && mechanicalForm.payment.$dirty" class="valid-add">
            Please fill in the required field.</span>

            <span class="asterisk" ng-show="mechanicalForm.payment.$error.number">
                Not valid Amount!</span>

            <div class="item item-divider"><strong>Feedbacks / Observations</strong> <span class="asterisk">*</span></div>
                <textarea type="text" class="item" name="feedbacks" ng-model="formData.feedbacks" required></textarea>
            <!-- show an error if Feedbacks or Observations field is empty -->
                <span ng-show="mechanicalForm.feedbacks.$error.required && mechanicalForm.feedbacks.$dirty" class="asterisk valid-add">
                Please fill in the required field.</span>

              <label class="item item-input item-select">
                <div class="input-label">
                  <strong>Remarks</strong> <span class="asterisk">*</span>
                </div>
                <select name="remarks" ng-model="formData.remarks" required>
                  <option value="Passed" selected>Passed</option>
                  <option value="Require As-Built Plan">Require As-Built Plan</option>
                </select>
              </label>

        <button type="submit" class="button button-block button-positive" ng-disabled="!mechanicalForm.$valid">Submit</button>
    </div>
  </form>
  </ion-content>
</ion-view>
        
