<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{lastname}}, {{firstname}} {{middlename}}</a></h3>
                <h4>{{position}}</h4>
            </div>
        </div>
        <div class="list animate-fade-slide-in-right">
            <div class="card">
                <div class="item item-divider" style="text-transform: uppercase;">
                    Basic Information
                </div>

                <div class="item item-divider">
                    Username:
                </div>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-person"></i>
                    {{username}}
                </a>
                <div class="item item-divider">
                    Gender: 
                </div>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-male"></i>
                    {{gender}}
                </a>
                <div class="item item-divider">
                    Email:
                </div>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    {{email}}
                </a>
                <div class="item">
                    <button class="button button-block button-assertive" ng-click="openForm()">
                        Change Password
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
