<ion-view view-title="Electronics Home">
    <ion-content ng-class="{expanded:$scope.isExpanded}" id="dash">
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i>Reports
            </a>
            <a ui-sref="electronics.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="electronics.developers" class="tab-item">
                <i class="icon ion-images"></i> Developers
            </a>
        </div>

        <div class="list animate-fade-slide-in-right">
            <div class="item">
                <div class="img-area">
                    <a href="#/electronics/occupancy">
                        <img src="img/nav-icons/occupancy-icon.jpg" class="img-home">
                        <p>Occupancy</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="img-area">
                    <a href="#/electronics/annual">
                        <img src="img/nav-icons/annual-icon.png" class="img-home">
                        <p>Annual</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="img-area">
                    <a href="#/tab/others">
                        <img src="img/nav-icons/other-icon.jpg" class="img-home">
                        <p>Others</p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
